@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
margin:0;
padding:0;
font-family: 'Poppins' ,sans-serif;
box-sizing: border-box;
text-decoration: none;
border: none;
outline:none;
scroll-behavior: smooth;
background-color: var(--bg-color);
color: var(--textt-color);
height: 100vh;
overflow-y: scroll;
overflow-x: hidden;


}


:root{
--bg-color:#2e2b3f ;
--second-bg-color:#9790d8; 
--text-color:rgb(255, 255, 255);
--main-color:#6ed3d6;


}
html{
    
   
    scroll-behavior: smooth;
}
section{
    width: 100vw;
   height:100vh;
    scroll-behavior: smooth;
   
   

}



.header{
    position:fixed;
    top:0;
    left: 0;
    right:0;
   z-index: 100;
 
    height: 0.5vh;
    padding: 40px;
    background-color: var(--bg-color);
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
   font-weight: 700;
   font-size: 30px;
   text-decoration: none;
   color:var(--text-color)


}
.logo:hover{
    color: aliceblue;
    box-shadow: none;
}
.nevbar {
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-size:1.3rem;
    color:var(--text-color) ;
    margin-left: 20px;
    font-weight: bold;
    transition:0.7s;
}
.nevbar:hover{
    color:var(--main-color);
    text-shadow: 0 0 10px var(--main-color);
    cursor:pointer;
    
}
a:active{
    color:var(--main-color);
    text-shadow: 0 0 10px var(--main-color);
    cursor:pointer;
    
}
i{
  height:30px;
  width:30px;
}

     
.home{
  height: 100vh;
  width:100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    
}

@media screen and (max-width: 900px) {
  .header a {
    font-size: 15px;
   
  }
 
}


.home-content{
   
    text-align: start;
    margin:0;
    padding:10px;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}







.home-img{
    
    height: 45em;
    width: 45em;
    object-fit: contain;
    padding-right: 70px;
    
animation: float 4s ease-out infinite ;
}

   @keyframes float {
    50% {
        transform: translateY(60px);
    }
   }

   .ch{
    color: aquamarine;

   }
.about{
    height:100vh;
    width:100vw;
    
   display:flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;

    margin: 0;
   
    background-color: var(--text-color);
  


}
.abt-info{
padding: 50px;
color: black;
font-size: medium;
}

.services{
   height:100vh;
   width:100vw;
   overflow:hidden;
    display: flex;
    
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }

  .wrapper  {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }

  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }

  .wrapper .carousel{
    display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  }
  



  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 450px;
    text-align: center;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }

.ser-img{
  height:70px;
  width:60px;
  object-fit: contain;
}
.portfolio{
    height:100vh;
    width:100vw;
    
  padding: 0%;
    margin: 0;
   
    background-color: var(--bg-color);
  

 
}

.wavies > use{
    animation: waveAround 12s linear infinite;
    &:nth-child(1) { animation-delay:-2s; }
    &:nth-child(2) { animation-delay:-2s; animation-duration:5s }
    &:nth-child(3) { animation-delay:-4s; animation-duration:3s }
  }
  
  @keyframes waveAround{
    0% { transform: translate(-90px , 0%) }
    100% { transform: translate(85px , 0%) }
  }
  
 /* .contact{
  height:100vh;
  width:100vw;
  background: linear-gradient(100deg, var(--text-color) 60%, var(--bg-color) 60%);
  font-weight: bold;
  font-size: 20px;


}
.contact-container{
  max-width: 2000px;
  padding-top:40px;
    
    
    
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    align-items: center;

}
.contact1{
  color:var(--bg-color);
  font-size: 20px;
  font-weight: bold;

  height:300px;
  width:700px;
  display:flex;
 flex-direction: column;
  justify-content: space-between;
  margin-right:100px;
  
 align-items: center;
}
.contact2{
  margin-left:100px;
  color:var(--text-color);
  font-size: 20px;
  font-weight: bold;
align-items: center;
  height:300px;
  width:700px;;
  display:flex;
 flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
 
}

.con-line{
  display:grid;
  margin:10px;
  padding:20px;
display: flex;
justify-content: center;
flex-direction: row;
text-align: center;
  border:solid 3px var(--main-color);
  border-radius: 10px;
 align-items: center;
width:400px;
height:70px;

}
.con-line:hover{
  background-color: var(--main-color);
  color:#2e2b3f;
}
*/

.contact{
  background: linear-gradient(100deg, var(--text-color) 60%, var(--bg-color) 60%);

  
  height:100vh;
  width:100vw;
}
.contact-container{
display:flex;
  
  
  justify-content: space-between;
   align-items: center;
  flex-direction: row;
  height:500px;
  width:95vw;
  margin:100px;
}


.map{
border: solid 3px var(--main-color);
  height:300px;
  width:500px;
  margin:0;
padding:10px;
}
.infors{
  height:300px;
  width:500px;
}
.icons{
  display:flex;
  justify-content: space-between;
  align-items: center;
  
}